## Prerequisite topics should be learned:

* Basic programming knowledge and understanding of syntax.
* Familiarity with Python's structure and syntax.
* Knowledge of variables and how to assign values to them.
* An overview of Python data types including integers, floats, strings, lists, and dictionaries, and 
* Operators including arithmetic, comparison, and logical operators.

## Agenda

* Introduction to Python programming language syntax and conventions.
* Overview of data types in Python and how to work with them.
* Working with variables in Python and how to assign and manipulate their values.
* Introduction to operators in Python and how to use them to perform calculations and comparisons.
* Practice exercises to reinforce understanding of the above topics.

## Introduction to Python Programming

* Python is a free, versatile, and widely used programming language for web development, data analysis, AI, and ML. 
* It has an easy-to-learn syntax and a large active community of developers who provide support and resources. 
* This makes Python a popular choice for beginners and professionals alike.

**Example:**

Let's say you want to analyze a large dataset. Here Python's powerful data science libraries like NumPy, Pandas, and Matplotlib allow you to easily clean and analyze large datasets, create informative visualizations, and work with various data types and formats.

* **Introducing Data Science as a field:** 
 * Data Science uses statistical and computational methods to extract insights from data. 
 * Enabling informed decision-making across different fields.

* **Explaining how Python is used in Data Science:**
 * Python is a high-level programming language that is widely used in data science. 
 * It is preferred over other programming languages like C++, Java, and R for several reasons:
 
 * Easy to learn and use. 
 * Large community and ecosystem.
 * Powerful libraries.
 * Compatibility with other languages.

Some real-world examples of how Python is used in data science include:

* **Predictive modeling:** Python can forecast stock prices for a financial services company based on historical data.

* **Natural language processing:** Python can analyze user comments and sentiments on a social media platform.

* **Data visualization:** Python can create dashboards for businesses to display key performance indicators and metrics.

### Basic Python Syntax

The Python language has a syntax, which is a set of rules that dictate how code should be written.
* **Print statement:**
 * The print statement in Python is used to display text on the screen.
* **Comments:**
 * Comments are used to explain code or disable lines temporarily. 
 * They are not executed by the interpreter and do not affect the output.
* **Indentation:**
 * Python uses indentation to define code blocks instead of curly braces. 
 * This makes the code more readable and understandable.

### Let's explore the story that integrates the topics of Basic Python Syntax:

Once upon a time, in a faraway land, there lived a young wizard named Lily. Lily loved to experiment with different spells, and one day she decided to create a spell that would make her favorite flower, the rose, grow even more beautiful.

Lily knew that in order to cast a spell, she needed to write some code. She had learned some basic Python syntax from her magic school, so she opened up her laptop and started writing her code.

First she used the print statement to make sure that her code was working properly. She typed:

In [ ]:
print("Let's make this rose bloom!")

Let's make this rose bloom!

This code would simply print out the message "Let's make this rose bloom!" to the console when she ran her program. It was a simple way for her to check if her code was running correctly.

Next she added a comment to explain what her code was doing. She wrote:

In [ ]:
# This code will make the rose bloom more beautifully.

"""
This comment helped her remember what her code was supposed to do and also helped anyone else who might read her code understand it better.

"""

 After she added some indentation <mark>**:**</mark> to her code. This was important because Python uses indentation to define blocks of code. She wrote:

In [ ]:
time_of_day = input("Enter a time of day (morning, afternoon, or evening): ")

if time_of_day == "morning":
    print("The rose is waking up!")
elif time_of_day == "afternoon":
    print("The rose is soaking up the sun!")
else:
    print("The rose is resting for the night.")

Enter a time of day (morning, afternoon, or evening): morning
The rose is waking up!

This code would check the time of day and print out a message depending on whether it was morning, afternoon, or night.

Lily finished writing her code, she cast her spell and watched as her rose bloomed more beautifully than ever before. She was thrilled with the results and couldn't wait to try more spells using Python!


---

### Here are 6 questions from Introduction to Python Programming and Basic Python Syntax.
* **Note:** The first two demo questions will be demonstrated by the lab mentor, after which there will be practice time for learners. 
* Each question must be solved within 2 minute.

### <mark>**Demo question 1**</mark>
Create two variables called "price" and "currency" and assign them the values 10.99 and "$". Print a message that says "The price is [currency][price]."

In [ ]:
# Answer
price = 10.99
currency = "$"
print("The price is " + currency + str(price))

The price is $10.99

### <mark>**Demo question 2**</mark>
Create a variable called "subtotal" and assign it the value of 50.99. Create another variable called "discount" and assign it the value of 0.10. Calculate the discounted total by subtracting the discount amount from the subtotal, and print a message that says "The discounted total is $[total]."

In [ ]:
# Answer
subtotal = 50.99
discount = 0.10
total = subtotal - (subtotal * discount)
print("The discounted total is $" + str(total))

The discounted total is $45.891000000000005

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create three variables called "price", "tax_rate", and "total". Assign the values 25, 0.08, and the result of adding price and the product of price and tax_rate, respectively. Print a message that says "The total price including tax is [total]."

In [ ]:
# Answer
price = 25
tax_rate = 0.08
total = price + (price * tax_rate)
print("The total price including tax is " + str(total))

The total price including tax is 27.0

#### **Question 2 (2 minute):**
Write a comment explaining why the following line of code is important: "total = price + (price * tax_rate) # calculates the total price including tax"

In [ ]:
# Answer
price = 25
tax_rate = 0.08
total = price + (price * tax_rate) # calculates the total price including tax

#### **Question 3 (2 minute):**
Create five variables called "item1", "item2", "item3", "item4", and "item5". Assign them the names of five different products. Use concatenation to print each item in the list with a " - " between them.

In [ ]:
# Answer
item1 = "apple"
item2 = "orange"
item3 = "banana"
item4 = "mango"
item5 = "pear"
print(item1 + " - " + item2 + " - " + item3 + " - " + item4 + " - " + item5)

apple - orange - banana - mango - pear

#### **Question 4 (2 minute):**
Create three variables called "name", "email", and "phone". Assign them the values "John Smith", "johnsmith@gmail.com", and "555-1234", respectively. Use concatenation to print the message "Customer Name: [name], Email: [email], Phone: [phone]."

In [ ]:
#Answer
name = "John Smith"
email = "johnsmith@gmail.com"
phone = "555-1234"
print("Customer Name: " + name + ", Email: " + email + ", Phone: " + phone + ".")

Customer Name: John Smith, Email: johnsmith@gmail.com, Phone: 555-1234.

---
---

## Variables and Overview of Data Types

### Variables

* In programming a variable holds a value like a label. 
* **Example** To keep track of your age, you can create a variable called "age" and assign it a value of 15.

In [ ]:
# This is how you create a variable in Python
# First, choose a name for your variable. Make sure it's descriptive but not too long.
age = 15
age

15

#### Variable naming conventions

* When naming variables use descriptive names that give an idea of what the variable stores. 
* Avoid starting variable names with a number or using spaces. 
* Use underscores to separate words instead. For instance instead of <mark>**"my name,"**</mark> use <mark>**"my_name"**</mark> as a variable name.

In [ ]:
# Define a variable called my_name and assign it the value "John"
my_name = "John"
print(my_name)

John

In [ ]:
# Define a variable called age and assign it the value 20
age = 20
print(age)

20

In [ ]:
# Define a variable called is_student and assign it the value True
is_student = True
is_student

True

In [ ]:
# Note that variable names should not start with a number
# This would result in a syntax error
1_age = 20

SyntaxError: ignored

This would result in a syntax error, so instead we use a variable name like my_age instead of 1_age.

In [ ]:
# Instead use underscores to separate words
my_age = 20
my_age

20

### Assigning variables

* To assign a value to a variable, you use the assignment operator, which is the equals sign <mark>=</mark>. 
* **Example** To assign the value 15 to the variable age, you would write

In [ ]:
age = 15
# The "=" sign assigns the value of 15 to the variable "age"
# Now, whenever we refer to the variable "age" in our code, Python will know we mean 15.

### Using variables in print statements

* You can use variables in print statements to display their values.
* Enclose the variable name in curly brackets <mark>{}</mark>.
* Use the format method to insert the variable value into the string.

* **Example:** If you want to print the value of the variable age you would write

In [ ]:
print("My age is {}.".format(age))

My age is 15.

Once we've created a variable, we can use it in different ways. for example we might want to print the value of the variable to the console:

In [ ]:
# This is how you print the value of a variable in Python
print("I am " + str(age) + " years old")
# The "print" statement outputs text to the console
# We can combine the string "I am" and the value of the variable "age" (converted to a string with "str()") to create a sentence that describes our age.

I am 15 years old

### Let's explore with Real-life example:

Assume you are organizing a charity event to raise money for a local animal shelter. You need to keep track of the donations you receive from different donors. You decide to use Python to create a program that stores the donations in variables.

In [ ]:
# Assigning variables to store donations
donor1 = 100
donor2 = 50
donor3 = 200

# Printing a summary of donations
print("Donor 1 donated ${}.".format(donor1))
print("Donor 2 donated ${}.".format(donor2))
print("Donor 3 donated ${}.".format(donor3))
total_donations = donor1 + donor2 + donor3
print("Total donations received: ${}.".format(total_donations))

Donor 1 donated $100.
Donor 2 donated $50.
Donor 3 donated $200.
Total donations received: $350.

* Above example we create three variables (donor1, donor2, and donor3) to store the donation amounts from different donors. 

* Then use the variables in print statements to display the donation amounts. 

* After we calculate the total donations by adding the values of the variables and store the result in a new variable (total_donations). 

* We use this variable in a print statement to display the total donations received.

This is just one example of how variables can be used in Python to solve real-world problems.

---

#### Here are 6 questions from Variables.
* **Note:** The first two demo questions will be demonstrated by the lab mentor, after which there will be practice time for learners. 
* Each question must be solved within 2 minute.

### <mark>**Demo question 1**</mark>
Create three variables called "quantity", "price_per_unit", and "discount". Assign the values 10, 5.5, and 0.1, respectively. Calculate the total price after discount (total_price) and print a message that says "The total price for 10 units is $[total_price]."

In [ ]:
#Answer
quantity = 10
price_per_unit = 5.5
discount = 0.1
total_price = quantity * price_per_unit * (1 - discount)
print(f"The total price for {quantity} units is ${total_price}.")

The total price for 10 units is $49.5.

### <mark>**Demo question 2**</mark>
Create two variables called "current_year" and "birth_year". Assign the values 2023 and 2000, respectively. Calculate your age (age) and print a message that says "You are currently [age] years old."

In [ ]:
current_year = 2023
birth_year = 2000
age = current_year - birth_year
print(f"You are currently {age} years old.")

You are currently 23 years old.

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create three variables called "price", "tax_rate", and "total". Assign the values 25, 0.08, and the result of adding price and the product of price and tax_rate, respectively. Print a message that says "The total price including tax is [total]."

In [ ]:
# Answer
price = 25
tax_rate = 0.08
total = price + (price * tax_rate)
print(f"The total price including tax is {total}.")

The total price including tax is 27.0.

#### **Question 2 (2 minute):**
Create a variable named "greeting" and assign it the value of "Hello". Create a variable named "name" and assign it the value of your name. Print a statement that says "[greeting], [name]!".

In [ ]:
greeting = "Hello"
name = "SkilloVilla"
print("{}, {}!".format(greeting, name))

Hello, SkilloVilla!

#### **Question 3 (2 minute):**
Create a variable named "donor1" and assign it the value of 100. Print a statement that says "donor1 donation is 100."

In [ ]:
donor1 = 100
print("donor1 donation is {}.".format(donor1))

donor1 donation is 100.

#### **Question 4 (2 minute):**
Create two variables called "num1" and "num2". Assign the values 10 and 5, respectively. Calculate the sum, difference, product, and quotient of these two numbers, and print them out.

In [ ]:
#Answer
num1 = 10
num2 = 5
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print(f"The sum is {sum}.")
print(f"The difference is {difference}.")
print(f"The product is {product}.")
print(f"The quotient is {quotient}.")

The sum is 15.
The difference is 5.
The product is 50.
The quotient is 2.0.

---
---

## Overview of Data Types

* In programming a data type is a classification of data into different categories, such as **numbers**, **text**, and **boolean values**. 
* Each data type has its own set of operations that can be performed on it. 
* Python has several built-in data types, including **numeric**, **text**, and **boolean**.

### Numeric Data Types (int, float)

* Numeric data types are used to represent numbers. 

* There are Three main types of numeric data types in Python: 
 1. **integers <mark>int()</mark>** 
 2. **floating-point numbers <mark>float()</mark>** and
 3. **Complex numbers**.

* Integers are whole numbers **<mark>Example: 1, 2, 3</mark>**, 

* While floating-point numbers are numbers with a decimal point **<mark>Example: 1.0, 2.5, 3.14</mark>**.

* Complex numbers are numbers with a real and imaginary part represented as real_part+imaginary_parti, where real_part and imaginary_part are real numbers, and i is the square root of -1 **<mark>Example: 2+3i is a complex number</mark>**

In [ ]:
# Assigning an integer value to a variable
age = 15
print(type(age))

<class 'int'>

In [ ]:
# Assigning a floating-point value to a variable
height = 5.8
print(type(height))

<class 'float'>

In [ ]:
# Assign a complex number to the variable voltage_signal
voltage_signal = 5 + 2j  
print(type(voltage_signal))

<class 'complex'>

### Text Data Type (str)

* Text data type or **string (str)**, is used to represent text. 

* It can include **letters**, **numbers**, **symbols**, and **spaces**. 

* Strings are enclosed in quotation marks (either single or double quotes). Example **"Hello"**, **'SkilloVilla'** is a string.

In [ ]:
# Assigning a string value to a variable
name = 'John'
print(name)
print(type(name))
# Assigning a string value with double quotes to a variable
quote = "I have 1 dream!.."
print(quote)
print(type(quote))

John
<class 'str'>
I have 1 dream!..
<class 'str'>

### Boolean Data Type (bool)

* Boolean data type or bool is used to represent **true** or **false** values.

* Boolean values are useful for making decisions and controlling the flow of a program. Example "is the sky blue?" can be answered with a boolean value of **true** or **false**.

In [ ]:
# Assigning boolean values
is_sky_blue = True
print(is_sky_blue)
print(type(is_sky_blue))

is_sun_out = False
print(is_sun_out)
print(type(is_sun_out))

True
<class 'bool'>
False
<class 'bool'>

### Type conversion

* Type conversion is the process of converting a value from one data type to another. 

* This can be useful when performing operations on values of different data types. Example converting a string to a number to perform mathematical operations.

* In Python this can be done using built-in functions like **int()**, **float()**, **str()**, and **bool()**.

In [ ]:
# Converting an integer to a float
num1 = 10
num2 = float(num1)
print(num2)
print(type(num2))

10.0
<class 'float'>

In [ ]:
# Converting a float to an integer
num3 = 5.8
num4 = int(num3)
print(num4)
print(type(num4))

5
<class 'int'>

In [ ]:
# Converting a string to a boolean
str1 = "True"
bool1 = bool(str1)
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [ ]:
# Converting a boolean to a string
bool2 = True
str2 = str(bool2)
print(str2)
print(type(str2))

True
<class 'str'>

### Let's explore with the example:

Assume you are a small business owner who sells handmade crafts online. You have an online store where you sell various items such as jewelry, home decor, and clothing.
* In order to track your sales and inventory, you need to use different data types in Python program.

In [ ]:
# Item details
product_name = "Handmade Necklace"
product_description = "Beautiful necklace made with natural stones"
price = 25.99
in_stock = True
items_sold = 15

# Printing the item details
print("Product Name: " + product_name)
print("Description: " + product_description)
print("Price: $" + str(price))
print("In Stock: " + str(in_stock))
print("Items Sold: " + str(items_sold))

# Updating the inventory
if items_sold >= 5:
    in_stock = False

# Converting a string to a float
discount_percentage = "10.5"
discounted_price = price - (price * (float(discount_percentage) / 100))
print("Discounted Price: $" + str(discounted_price))

Product Name: Handmade Necklace
Description: Beautiful necklace made with natural stones
Price: $25.99
In Stock: True
Items Sold: 15
Discounted Price: $23.261049999999997

* Above example the integer data type is used to store the number of items sold, 
* The floating-point data type is used to store the price, 
* The string data type is used to store the name and description, and 
* The boolean data type is used to store whether or not the item is in stock.

We also see an example of type conversion where we convert the discount percentage (which is a string) to a float in order to calculate the discounted price of the item.


---

#### Here are 6 questions from numeric, text, and boolean.
* **Note:** The first two demo questions will be demonstrated by the lab mentor, after which there will be practice time for learners. 
* Each question must be solved within 2 minute.

### <mark>**Demo question 1**</mark>
Create three variables called input as a str "fruit", input as a int "quantity", and "price". Assign the values "apple", 5, and 1.5, respectively. Calculate the total price by multiplying the quantity and price, and then round it to two decimal places using the round() function. Print a message that says "You bought [quantity] fruit for a total of $[total_price]."

In [ ]:
#Answer:
fruit = "apple"
quantity = 5
price = 1.5
total_price = round(quantity * price, 2)
print(f"You bought {quantity} {fruit}(s) for a total of ${total_price}.")

You bought 5 apple(s) for a total of $7.5.

### <mark>**Demo question 2**</mark>
Create two variables called input as a str "name" and input as a int "birth_year". Assign the values "John" and 2000, respectively. Calculate the age of the person by subtracting the birth year from the current year (2023). Print a message that says "Hello, [name]! You will be [age] years old in 17 years."

In [ ]:
#name = "John"
birth_year = 2000
current_year = 2023
age = current_year - birth_year
future_age = age + 17
print(f"Hello, {name}! You will be {future_age} years old in 17 years.")

Hello, John Smith! You will be 40 years old in 17 years.

### <mark>**Practice Time for learners**</mark>

#### **Question 2 (2 minute):**
Define a variable "total_sales" and assign it a float value of 987.65. Print the value of "total_sales" and its data type.

In [ ]:
#Answer
total_sales = 987.65
print(total_sales)
print(type(total_sales))

987.65
<class 'float'>

#### **Question 3 (2 minute):**
Define a variable "text" and assign it a string value of "123". Convert "text" to an integer and print the result as well as its data type. If the conversion fails, print an error message.

In [ ]:
text = "123"
try:
    text_int = int(text)
    print(text_int)
    print(type(text_int))
except ValueError:
    print("Conversion to int failed!")

123
<class 'int'>

#### **Question 3 (2 minute):**
Define a variable "item_name" and assign it a string value of "Handmade Necklace". Print the value of "item_name" and its data type.

In [ ]:
item_name = "Handmade Necklace"
print(item_name)
print(type(item_name))

Handmade Necklace
<class 'str'>

#### **Question 4 (2 minute):**
Define a variable "is_in_stock" and assign it a boolean value of True. Print the value of "is_in_stock" and its data type. and Create complex variable "c_num" and assign it a value of 2+3j. Print the value of "c_num" and its data type.

In [ ]:
is_in_stock = True
print(is_in_stock)
print(type(is_in_stock))
c_num = 2+3j
print(c_num)
print(type(c_num))

True
<class 'bool'>
(2+3j)
<class 'complex'>

---
---
## Operators

* In Python operators are symbols or keywords used for performing operations on one or more operands.

* The use case of operators in Python is to manipulate and perform computations on values and variables. 
* Python supports various types of operators like
 * **Arithmetic**, 
 * **Comparison**, and 
 * **Logical Operators**.

#### **Arithmetic Operators**
Arithmetic Operators are used to perform mathematical operations on operands. 

* The following are the Arithmetic Operators in Python:
 * **Addition <mark>+</mark>:** Adds two operands.
 * **Subtraction <mark>-</mark>:** Subtracts second operand from the first operand.
 * **Multiplication <mark>*</mark>:** Multiplies two operands.
 * **Division <mark>/</mark>:** Divides the first operand by the second operand.
 * **Floor Division <mark>//</mark>:** Divides the first operand by the second operand and returns the floor value of the result.
 * **Modulus <mark>%</mark>:** Returns the remainder when the first operand is divided by the second operand.
 * **Exponentiation** <mark>**</mark>: Performs exponential (power) calculation on operands.

#### **Comparison Operators**
Comparison Operators are used to compare the values of operands. 
* The following are the Comparison Operators in Python:
 * **Equality <mark>==</mark>:** Checks if two operands are equal or not.
 * **Inequality <mark>!=</mark>:** Checks if two operands are not equal.
 * **Greater than <mark>></mark>:** Checks if the first operand is greater than the second operand.
 * **Less than <mark><</mark>:** Checks if the first operand is less than the second operand.
 * **Greater than or equal to <mark>>=</mark>:** Checks if the first operand is greater than or equal to the second operand.
 * **Less than or equal to <mark><=</mark>:** Checks if the first operand is less than or equal to the second operand.

#### **Logical Operators**
Logical Operators are used to combine multiple conditions and return a boolean value. 
* The following are the Logical Operators in Python:
 * <mark>**and:**</mark> Returns True if both operands are True.
 * <mark>**or:**</mark> Returns True if any of the operands is True.
 * <mark>**not:**</mark> Returns True if the operand is False.

### Let's explore real-time use case to demonstrate the use of all three types of operators in Python:

**Problem statement:** A company wants to determine whether a new employee is eligible for a promotion based on their performance in the last quarter. The company has set the following criteria for eligibility
* The employee must have scored above 80 in at least one category (Sales, Marketing, or Finance).
* The employee's average score should be above 75 across all categories.
* The employee should not have received any warnings in the last quarter.

We will use Python operators to calculate and evaluate the eligibility of an employee based on the above criteria.

In [ ]:
# Employee performance scores
sales_score = 85
marketing_score = 70
finance_score = 90
average_score = (sales_score + marketing_score + finance_score) / 3  # Calculate average score
has_warnings = False  # Whether employee has received any warnings or not

# Determine eligibility using operators
if (sales_score > 80 or marketing_score > 80 or finance_score > 80) and average_score > 75 and not has_warnings:
    print("Employee is eligible for promotion")
else:
    print("Employee is not eligible for promotion")

Employee is eligible for promotion

* We first calculate the average score of the employee using arithmetic operators **<mark>+ & /</mark>**. 
* We then use logical **<mark>and, or, & not</mark>** 
* and comparison **<mark>></mark>** operators to evaluate the eligibility criteria. 

* If the employee meets all three criteria, the program prints "Employee is eligible for promotion". 

* Otherwise it prints "Employee is not eligible for promotion".

This real-time use case demonstrates the practical application of operators in solving business problems and making decisions based on data.


---

#### Here are 6 questions from Arithmetic, Comparison, and Logical Operators.
* **Note:** The first two demo questions will be demonstrated by the lab mentor, after which there will be practice time for learners. 
* Each question must be solved within 2 minute.

### <mark>**Demo question 1**</mark>
Create two variables called input as a int "num1" and input as a int "num2". Assign the values 10 and 3, respectively. Calculate the quotient and remainder when num1 is divided by num2 using the division (/) and modulo (%) operators. Print a message that says "The quotient of {num1} divided by {num2} is {quotient}, and the remainder is {remainder}."

In [ ]:
#Answer:
num1 = 10
num2 = 3
quotient = num1 / num2
remainder = num1 % num2
print(f"The quotient of {num1} divided by {num2} is {quotient}, and the remainder is {remainder}.")

The quotient of 10 divided by 3 is 3.3333333333333335, and the remainder is 1.

### <mark>**Demo question 2**</mark>
Create two variables called int "age" and str "name". Assign values to these variables. Then, create a Boolean variable called "is_adult" that is true if age is greater than or equal to 18 and false otherwise. Print a message that says "My name is [name] and I am an adult: [is_adult]."

In [ ]:
#Answer:
age = 25
name = "John"
is_adult = age >= 18
print("My name is", name, "and I am an adult:", is_adult)

My name is John and I am an adult: True

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create two variables called float "length" and str "unit". Assign values to these variables. Then, create a variable called "in_inches" that is equal to length converted to inches if unit is "inches" and converted to inches if unit is "feet". Print a message that says "The length in inches is [in_inches]."

In [ ]:
#Answer
length = 10.5
unit = "feet"
in_inches = length * 12.0 if unit == "inches" else length * 12.0
print("The length in inches is", in_inches)

The length in inches is 126.0

#### **Question 2 (2 minute):**
Create two variables called int "num1" and float "num2". Assign values to these variables. Then, create a variable called "is_greater" that is true if num1 is greater than num2 and false otherwise. Print a message that says "Is [num1] greater than [num2]? [is_greater]".

In [ ]:
#Answer
num1 = 20
num2 = 15.5
is_greater = num1 > num2
print("Is", num1, "greater than", num2, "?", is_greater)

Is 20 greater than 15.5 ? True

#### **Question 3 (2 minute):**
Create two variables called float "temperature" and str "unit". Assign values to these variables. Then, create a variable called "in_fahrenheit" that is equal to temperature converted to Fahrenheit if unit is "Celsius" and converted to Fahrenheit if unit is "Kelvin". Print a message that says "The temperature in Fahrenheit is [in_fahrenheit]."

In [ ]:
#Answer
temperature = 25.0
unit = "Celsius"
in_fahrenheit = temperature * 9.0 / 5.0 + 32.0 if unit == "Celsius" else (temperature - 273.15) * 9.0 / 5.0 + 32.0
print("The temperature in Fahrenheit is", in_fahrenheit)

The temperature in Fahrenheit is 77.0

#### **Question 4 (2 minute):**
Create two variables called int "age" and float "height". Assign values to these variables. Then, create a variable called "can_ride_rollercoaster" that is true if age is greater than or equal to 12 and height is greater than or equal to 48 inches and false otherwise. Print a message that says "Can [age]-year-old who is [height] inches tall ride the rollercoaster? [can_ride_rollercoaster]"

In [ ]:
#Answer
age = 16
height = 60.0
can_ride_rollercoaster = age >= 12 and height >= 48.0
print(f"Can {age}-year-old who is {height} inches tall ride the rollercoaster? {can_ride_rollercoaster}")

Can 16-year-old who is 60.0 inches tall ride the rollercoaster? True

---

---


## Basic Data Types

Python is dynamically typed, meaning variable types are inferred based on their assigned values.
* Python has built-in support for several basic data types, which include:
 * **Integer (int):** represents whole numbers, such as 1, 2, 3, etc.
 * **Float (float):** represents real numbers, such as 1.0, 3.14, etc.
 * **complex numbers:** represent a number with a real and imaginary part, denoted as 2 + 5j
 * **Boolean (bool):** represents True or False.
 * **String (str):** represents text, such as "hello", "world", etc.

In addition to these basic data types, Python also has several built-in data structures that are used to hold collections of values. 
* The most commonly used data structures are 
 * **Lists**, 
 * **Tuples**, 
 * **Sets**, 
 * **Dictionaries**, and 
 * **Binary Types.**

### Lists

* A list is a collection of values that can be of different types. 
* Lists are created using square brackets and can be modified after creation. 
* Lists are commonly used for holding sequences of values, such as a list of numbers or a list of strings.

**Creating lists:**

In [ ]:
# Creating an empty list
my_list = []

# Creating a list with values
my_list = [1, 2, 3, 4, 5]
my_list = ["apple", "banana", "cherry"]
my_list = [1, "apple", True, 3.14]

### <mark>**Demo question 1**</mark>
Create two lists called "list1" and "list2" and assign them the values [1, 2, 3] and [4, 5, 6], respectively. Concatenate the two lists and print the result.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a list called "ages" and add the following items: 25, 30, 42, 18, and 55. Use the "max" and "min" functions to print the oldest and youngest age in the list, respectively.

In [ ]:
ages = [25, 30, 42, 18, 55]
oldest = max(ages)
youngest = min(ages)
print(f"The oldest age is {oldest} and the youngest age is {youngest}.")

#### **Question 2 (2 minute):**
Create a list called "grades" and add the following items: 85, 90, 92, 78, and 87. Calculate the average of the grades and print the result rounded to two decimal places.

In [ ]:
grades = [85, 90, 92, 78, 87]
average = sum(grades) / len(grades)
print(f"The average grade is {average:.2f}.")



---


**Accessing list elements:**

In [ ]:
# Accessing the first element of a list
my_list = [1, 2, 3, 4, 5]
print(my_list[0])

# Accessing the last element of a list
my_list = [1, 2, 3, 4, 5]
print(my_list[-1])

1
5

### <mark>**Demo question 1**</mark>
Create a list called "numbers" and add the numbers 1, 3, 5, 7, and 9. Use slicing to print only the even numbers.

In [ ]:
numbers = [1, 3, 5, 7, 9]
print(numbers[1::2])

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a list called "fruits" and add the following items: "apple", "banana", "orange", and "grapefruit". Access and print the second item in the list.

In [ ]:
fruits = ["apple", "banana", "orange", "grapefruit"]
print(fruits[1])

#### **Question 2 (2 minute):**
Create a list called "names" and add the following items: "John", "Jane", "Bob", "Alice", and "Mary". Use negative indexing to print the last name in the list.

In [ ]:
names = ["John", "Jane", "Bob", "Alice", "Mary"]
print(names[-1])

**Modifying list elements:**

In [ ]:
# Modifying the first element of a list
my_list = [1, 2, 3, 4, 5]
my_list[0] = 6

print(my_list)

[6, 2, 3, 4, 5]

### <mark>**Demo question 1**</mark>
Create a list called "fruits" and add the following items: "apple", "banana", "orange", and "grapefruit". Use slicing to replace the last two fruits with "pear" and "pineapple". Print the updated list.

In [ ]:
fruits = ["apple", "banana", "orange", "grapefruit"]
fruits[-2:] = ["pear", "pineapple"]
print(fruits)

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a list called "names" and add the following items: "John", "Jane", "Bob", "Alice", and "Mary". Use indexing to replace the first two names with "Tom" and "Sue". Print the updated list.

In [ ]:
names = ["John", "Jane", "Bob", "Alice", "Mary"]
names[:2] = ["Tom", "Sue"]
print(names)

#### **Question 2 (2 minute):**
Create a list called "numbers" and add the numbers 1, 2, 3, 4, and 5. Use indexing to change the value of the third element to 6. Print the updated list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers[2] = 6
print(numbers)

**List slicing:**

In [ ]:
# Slicing a list
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3]) # Output: [2, 3]

[2, 3]

### <mark>**Demo question 1**</mark>
Create a list called "ages" and add the numbers 10 through 20. Use slicing to print only the even numbers (10, 12, 14, 16, 18, 20).

In [ ]:
ages = list(range(10, 21))
print(ages[::2])

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a list called "words" and add the words "apple", "banana", "cherry", "date", and "elderberry". Use slicing to print only the last two words.

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[-2:])

#### **Question 2 (2 minute):**
Create a list called "colors" and add the colors "red", "green", "blue", "yellow", and "purple". Use slicing to print only the even-indexed colors (the first, third, and fifth elements).

In [ ]:
colors = ["red", "green", "blue", "yellow", "purple"]
print(colors[::2])

#### Let's explore Real-time use case hands-on python coding:

Imagine that we are building a web application that allows users to search for books in a library. 
* We will use Python's built-in list to store information about the books in the library.
* Creates a list of book titles containing the following titles: "The Great Gatsby", "To Kill a Mockingbird", "1984", "Pride and Prejudice", and "Animal Farm".
* Accesses the first element of the list and prints it to the console.
Modifies the third element of the list to "Brave New World".
Prints the updated list to the console.
* Uses list slicing to extract a sublist containing the second and third elements of the list, and prints it to the console.

In [ ]:
# Let's create a list to hold the titles of the books in the library:
# Creating a list of book titles
book_titles = ['The Great Gatsby', 'To Kill a Mockingbird', '1984', 'Pride and Prejudice', 'Animal Farm']

# Accessing list elements
print(book_titles[0])   # Output: The Great Gatsby

# Modifying list elements
book_titles[2] = 'Brave New World'
print(book_titles)      # Output: ['The Great Gatsby', 'To Kill a Mockingbird', 'Brave New World', 'Pride and Prejudice', 'Animal Farm']

# List slicing
print(book_titles[1:3]) # Output: ['To Kill a Mockingbird', 'Brave New World']

##### **Use case of list:**

* Lists are widely used in Python programming for holding sequences of values that can be modified. 
* Lists can be used for a variety of purposes such as representing the scores of students in a class, holding a list of tasks to be completed, and storing a list of user inputs.

### Tuples

* A tuple is similar to a list in that it is a collection of values. 
* Tuples are immutable meaning that their values cannot be changed after creation.
* Tuples are created using parentheses and can be used to hold sequences of values that should not be modified.

**Creating tuples:**

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
my_tuple = ("apple", "banana", "cherry")
my_tuple = (1, "apple", True, 3.14)
my_tuple

(1, 'apple', True, 3.14)

### <mark>**Demo question**</mark>

Create a tuple called "grades" with the values 90, 85, and 95. Use tuple unpacking to assign the values to three variables called "math_grade", "english_grade", and "science_grade". Print the values of the three variables.

In [ ]:
grades = (90, 85, 95)
math_grade, english_grade, science_grade = grades
print(math_grade, english_grade, science_grade)

90 85 95

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a tuple called "names" with the values "Alice", "Bob", and "Charlie". Concatenate the tuple with the tuple ("David", "Emily") to create a new tuple called "people". Print the new tuple.

In [ ]:
names = ("Alice", "Bob", "Charlie")
people = names + ("David", "Emily")
print(people)

('Alice', 'Bob', 'Charlie', 'David', 'Emily')

#### **Question 2 (2 minute):**
Create a tuple called "fruits" with the values "apple", "banana", "orange", and "grapefruit". Use slicing to replace the first two fruits with "pear" and "pineapple". Print the updated tuple.

In [ ]:
fruits = ("apple", "banana", "orange", "grapefruit")
updated_fruits = ("pear", "pineapple") + fruits[2:]
print(updated_fruits)

('pear', 'pineapple', 'orange', 'grapefruit')

**Accessing tuple elements:**

In [ ]:
# Accessing the first element of a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0]) 

# Accessing the 2nd last element of a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[-2])

1
4

### <mark>**Demo question 1**</mark>
Create a nested tuple called "students" with the values (("Alice", (90, 85, 95)), ("Bob", (80, 90, 85)), ("Charlie", (95, 90, 95))). Use tuple unpacking and indexing to print the second grade of the third student.

In [ ]:
students = (("Alice", (90, 85, 95)), ("Bob", (80, 90, 85)), ("Charlie", (95, 90, 95)))
_, grades = students[2]
print(grades[1])

90

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a tuple called "names" with the values "Alice", "Bob", "Charlie", and "David". Use the in keyword to print whether the value "Charlie" is in the tuple.

In [ ]:
names = ("Alice", "Bob", "Charlie", "David")
print("Charlie" in names)

#### **Question 2 (2 minute):**
Create a tuple called "words" with the values "hello", "world", "how", "are", "you". Use tuple unpacking to assign the values of the first two items to the variables "greeting" and "recipient". Print a message that says "The [greeting] is for [recipient]."

In [ ]:
words = ("hello", "world", "how", "are", "you")
greeting, recipient = words[:2]
print(f"The {greeting} is for {recipient}.")

The hello is for world.

**Modifying tuples:**

In [ ]:
# Modifying a tuple (not possible)

#### In addition to above library example 
* Creates a tuple named book_info that holds information about a book. The tuple should contain the following items in this order: "The Great Gatsby" (title), "F. Scott Fitzgerald" (author), 1925 (year of publication), and "Scribner" (publisher).
* Accesses the first element of the tuple and prints it to the console.
* Tries to modify the third element of the tuple to 1926 (the correct year of publication), which will result in a TypeError because tuples are immutable.
* Prints the error message to the console.

Now add a tuple to hold information about a specific book:

In [ ]:
# Creating a tuple to hold information about a book
book_info = ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Scribner')

# Accessing tuple elements
print(book_info[0])     # Output: The Great Gatsby

# Trying to modify tuple elements (will result in an error)
book_info[2] = 1926    # Output: TypeError: 'tuple' object does not support item assignment

**Use case of tuple:**

* Tuples are used when we need to store an immutable sequence of values of any type.
* Since tuples are immutable they cannot be modified once created, which makes them useful in situations where we need to ensure that the data remains constant throughout the program's execution.

### Sets

* A set is a collection of unique values that can be of different types. 
* Sets are created using curly braces or the set() function and can be modified after creation. 
* Sets are commonly used for performing mathematical operations such as union, intersection, and difference.

**Creating sets:**

In [ ]:
# Creating an empty set
my_set = set()

# Creating a set with values
my_set = {1, 2, 3, 4, 5}
my_set = {"apple", "banana", "cherry"}
my_set = {1, "apple", True, 3.14}

### <mark>**Demo question 1**</mark>
Create an empty set called "numbers". Use the add method to add the values 10, 20, and 30 to the set. Print the set.

In [ ]:
numbers = set()
numbers.add(10)
numbers.add(20)
numbers.add(30)
print(numbers)

{10, 20, 30}

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a set called "colors" with the values "red", "green", "blue", and "yellow". Print the set.

In [ ]:
colors = {"red", "green", "blue", "yellow"}
print(colors)

{'yellow', 'blue', 'red', 'green'}

#### **Question 2 (2 minute):**
Create a set called "fruits" with the values "apple", "banana", and "orange". Use the add method to add the values "grape" and "kiwi" to the set. Print the updated set.

In [ ]:
fruits = {"apple", "banana", "orange"}
fruits.add("grape")
fruits.add("kiwi")
print(fruits)

{'kiwi', 'apple', 'grape', 'orange', 'banana'}

**Accessing set elements:**

In [ ]:
# Accessing elements of a set
my_set = {1, 2, 3, 4, 5}
for element in my_set:
    print(element)

1
2
3
4
5

### <mark>**Demo question**</mark>
Create a set called "letters" with the values "a", "b", "c", and "d". Print the first two elements of the set in reverse order.

In [ ]:
letters = {"a", "b", "c", "d"}
print(list(letters)[1::-1])

['d', 'c']

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a set called "colors" with the values "red", "green", "blue", and "yellow". Check if "green" is in the set and print the result.

In [ ]:
colors = {"red", "green", "blue", "yellow"}
print("green" in colors)

True

#### **Question 2 (2 minute):**
Create a set called "colors" with the values "red", "green", "blue", and "yellow". Print the last element of the set.

In [ ]:
colors = {"red", "green", "blue", "yellow"}
print(list(colors)[-1])

green

**Modifying set elements:**

In [ ]:
# Adding elements to a set
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set) # Output: {1, 2, 3, 4, 5, 6}

# Removing elements from a set
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set) # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5}

### <mark>**Demo question**</mark>
Create a set called "animals" with the values "dog", "cat", and "fish". Remove the values "cat" and "fish" from the set and print the updated set.

In [ ]:
animals = {"dog", "cat", "fish"}
animals -= {"cat", "fish"}
print(animals)

{'dog'}

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create two sets called "set1" and "set2" with the values 1, 2, and 3, and 3, 4, and 5 respectively. Update "set1" to contain the values in both sets and print the updated set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 |= set2
print(set1)

{1, 2, 3, 4, 5}

#### **Question 2 (2 minute):**
Create a set called "numbers" with the values 1, 2, and 3. Add the values 4 and 5 to the set and print the updated set.

In [ ]:
numbers = {1, 2, 3}
numbers |= {4, 5}
print(numbers)

{1, 2, 3, 4, 5}

**Set slicing:**

In [ ]:
# Sets cannot be sliced

In addition to above library example
*  Creates a set named book_info that holds information about a book. The set should contain the following items in this order: "The Great Gatsby" (title), "F. Scott Fitzgerald" (author), 1925 (year of publication), and "Scribner" (publisher).
* Accesses the first element of the set and prints it to the console.
* Tries to modify the third element of the tuple to 1926 (the correct year of publication), 
* Prints the error message to the console.

Now add a set to hold information about a specific book:

In [ ]:
# Creating a set of book information
book_info = {'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Scribner'}

# Accessing the first element of the set and printing it to the console
print(book_info.pop())  # Output: 'The Great Gatsby'

# Trying to modify the third element of the set to 1926 (will result in an error)
book_info.discard(1925)
book_info.add(1926)
print(book_info)   # Output: {'F. Scott Fitzgerald', 'Scribner', 1926}

The example creates a set of book information, accesses its first element using 
* The pop() method, and then modifies its third element using the discard() and add() methods. 
* Since sets are mutable, the attempt to modify the set will succeed, and the code prints the modified set to the console.

**Use case of set:**

* Sets are commonly used in Python programming for holding collections of unique values that can be used to perform mathematical operations. 
* Sets can be used for a variety of purposes such as representing a set of users who have access to a resource, holding a set of unique keywords in a document, and storing a set of unique IP addresses.

### Dictionaries

* A dictionary is a collection of key-value pairs, where each key is associated with a value. 
* Dictionaries are created using curly braces or the dict() function and can be modified after creation. 
* Dictionaries are commonly used to represent real-world objects such as people, products, or locations.

**Creating dictionaries:**

In [ ]:
# Creating a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
my_dict = dict(name="John", age=30, city="New York")

### <mark>**Demo question**</mark>
Create a dictionary called "book" with the keys "title", "author", and "year", and the values "To Kill a Mockingbird", "Harper Lee", and 1960, respectively. Print the dictionary.

In [ ]:
book = {"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960}
print(book)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'year': 1960}

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a dictionary called "car" with the keys "make", "model", and "year", and the values "Toyota", "Camry", and 2021, respectively. Print the dictionary.

In [ ]:
car = {"make": "Toyota", "model": "Camry", "year": 2021}
print(car)

{'make': 'Toyota', 'model': 'Camry', 'year': 2021}

#### **Question 2 (2 minute):**
Create a dictionary called "city_info" with the keys "name", "country", and "population", and the values "Paris", "France", and 2_141_000, respectively. Print the dictionary.

In [ ]:
city_info = {"name": "Paris", "country": "France", "population": 2_141_000}
print(city_info)

{'name': 'Paris', 'country': 'France', 'population': 2141000}

**Accessing dictionary values:**

In [ ]:
# Accessing a value in a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"]) # Output: "John"

John

### <mark>**Demo question**</mark>
Create a dictionary called "car" with the following key-value pairs: "make" is "Honda", "model" is "Civic", "year" is 2020, and "color" is "red". Access the value of the "model" key and print it.

In [ ]:
car = {"make": "Honda", "model": "Civic", "year": 2020, "color": "red"}
print(car["model"])

Civic

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a dictionary called "movie" with the following key-value pairs: "title" is "The Godfather", "director" is "Francis Ford Coppola", "year" is 1972, and "rating" is 9.2. Access the value of the "director" key and print it.

In [ ]:
movie = {"title": "The Godfather", "director": "Francis Ford Coppola", "year": 1972, "rating": 9.2}
print(movie["director"])

Francis Ford Coppola

#### **Question 2 (2 minute):**
Create a dictionary called "country" with the following key-value pairs: "name" is "Canada", "capital" is "Ottawa", "population" is 38000000, and "language" is "English and French". Access the value of the "population" key and print it.

In [ ]:
country = {"name": "Canada", "capital": "Ottawa", "population": 38000000, "language": "English and French"}
print(country["population"])

38000000

**Modifying dictionary values:**

In [ ]:
# Modifying a value in a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
my_dict["age"] = 40
print(my_dict) # Output: {"name": "John", "age": 40, "city": "New York"}

{'name': 'John', 'age': 40, 'city': 'New York'}

### <mark>**Demo question**</mark>

Create a dictionary called "fruit_basket" with keys "apples", "bananas", and "oranges" and values 3, 4, and 2 respectively. Modify the value of "apples" by adding 2 and the value of "oranges" by subtracting 1. print the updated values of the dictionary.

In [ ]:
fruit_basket = {"apples": 3, "bananas": 4, "oranges": 2}

fruit_basket["apples"] += 2
fruit_basket["oranges"] -= 1

print(fruit_basket)

{'apples': 5, 'bananas': 4, 'oranges': 1}

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a dictionary called "groceries" with keys "bread", "milk", and "eggs" and values 2.99, 3.49, and 2.29 respectively. Modify the value of "milk" by multiplying it by 0.9. print the updated values of the dictionary.

In [ ]:
groceries = {"bread": 2.99, "milk": 3.49, "eggs": 2.29}

groceries["milk"] *= 0.9

print(groceries)

{'bread': 2.99, 'milk': 3.1410000000000005, 'eggs': 2.29}

#### **Question 2 (2 minute):**
Create a dictionary called "student_info" with keys "name", "age", and "major" and values "John", 20, and "Computer Science" respectively. Modify the value of "age" by adding 2 and the value of "major" by appending " Engineering". print the updated values of the dictionary.

In [ ]:
student_info = {"name": "John", "age": 20, "major": "Computer Science"}

student_info["age"] += 2
student_info["major"] += " Engineering"

print(student_info)

{'name': 'John', 'age': 22, 'major': 'Computer Science Engineering'}

#### Let's create a dictionary to hold the titles of the books in the library:
* Creates a dictionary named library to store information about books. The dictionary should contain the following items (books) as keys, each with a tuple containing information about the book as the corresponding value:
 * "The Great Gatsby" (title), with a tuple containing "F. Scott Fitzgerald" (author), 1925 (year of publication), and "Scribner" (publisher)
 * "To Kill a Mockingbird" (title), with a tuple containing "Harper Lee" (author), 1960 (year of publication), and "J. B. Lippincott & Co." (publisher)
 * "Brave New World" (title), with a tuple containing "Aldous Huxley" (author), 1932 (year of publication), and "Chatto & Windus" (publisher)
 * "Pride and Prejudice" (title), with a tuple containing "Jane Austen" (author), 1813 (year of publication), and "T. Egerton, Whitehall" (publisher)
 * "Animal Farm" (title), with a tuple containing "George Orwell" (author), 1945 (year of publication), and "Secker & Warburg" (publisher)
* Accesses the value of the "The Great Gatsby" key and prints it to the console.
Modifies the value of the "Brave New World" key to have the year of publication be 1931 instead of 1932.
* Accesses the modified value of the "Brave New World" key and prints it to the console.

Now create a dictionary to store information about all of the books in the library:

In [ ]:
# Creating a dictionary to store information about books
library = {'The Great Gatsby': ('F. Scott Fitzgerald', 1925, 'Scribner'),
           'To Kill a Mockingbird': ('Harper Lee', 1960, 'J. B. Lippincott & Co.'),
           'Brave New World': ('Aldous Huxley', 1932, 'Chatto & Windus'),
           'Pride and Prejudice': ('Jane Austen', 1813, 'T. Egerton, Whitehall'),
           'Animal Farm': ('George Orwell', 1945, 'Secker & Warburg')}

# Accessing dictionary values
print(library['The Great Gatsby'])   # Output: ('F. Scott Fitzgerald', 1925, 'Scribner')

# Modifying dictionary values
library['Brave New World'] = ('Aldous Huxley', 1931, 'Chatto & Windus')
print(library['Brave New World'])    # Output: ('Aldous Huxley', 1931, 'Chatto & Windus')

* Above we used a list to store the titles of the books in the library, a tuple to hold information about a specific book, and a dictionary to store information about all of the books in the library. 
* These built-in data types allowed us to store and access the data we needed to build our web application.


---

#### Here are 6 questions from lists, tuples, sets, dictionaries, and binary types. 
* **Note:** The first two demo questions will be demonstrated by the lab mentor, after which there will be practice time for learners. 
* Each question must be solved within 2 minute.

### <mark>**Demo question 1**</mark> 
Create a list named fruits containing the values "apple", "banana", "cherry", and "date". Use list slicing to print the sublist ["banana", "cherry"] to the console.

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
sublist = fruits[1:3]
print(sublist)

['banana', 'cherry']

### <mark>**Demo question 2**</mark>
Create a dictionary called "car" containing the keys "make", "model", and "year" with corresponding values "Honda", "Civic", and 2018. Use a conditional statement to predict the car's age in 17 years. If the current year is 2023, the age in 17 years should be 22. Finally, print a message that displays the predicted age.

In [ ]:
car = {"make": "Honda", "model": "Civic", "year": 2018}

current_year = 2023
age_in_17_years = current_year - car["year"] + 17

print(f"The car will be {age_in_17_years} years old in 17 years.")

The car will be 22 years old in 17 years.

---
### <mark>**Practice Time for learners**</mark>

#### **Question 1 (2 minute):**
Create a set called "even_numbers" containing the even integers from 1 to 10. Create another set called "prime_numbers" containing the prime integers from 1 to 10. Using set operations, create a new set that contains the even prime numbers from these two sets. Finally, print a message that displays the new set.

In [ ]:
even_numbers = {2, 4, 6, 8, 10}
prime_numbers = {2, 3, 5, 7}

even_primes = even_numbers.intersection(prime_numbers)

print(f"The set of even prime numbers is {even_primes}")

The set of even prime numbers is {2}

#### **Question 2 (2 minute):**
Create a list called "animals" containing the strings "cat", "dog", "fish", "hamster", and "bird". Using list slicing, create a new list that contains the first three animals and a new list that contains the last two animals. Finally, print a message that displays all the lists.

In [ ]:
animals = ["cat", "dog", "fish", "hamster", "bird"]

first_three = animals[:3]
last_two = animals[3:]

print(f"The list of the first three animals is {first_three}")
print(f"The list of the last two animals is {last_two}")

The list of the first three animals is ['cat', 'dog', 'fish']
The list of the last two animals is ['hamster', 'bird']

#### **Question 3 (2 minute):**
Create a bytes object named my_bytes containing the values 0, 1, and 2. Use slicing to print the slice of the object from index 1 to 2.

In [ ]:
my_bytes = bytes([0, 1, 2])
my_slice = my_bytes[1:3]
print(my_slice)

b'\x01\x02'

#### **Question 4 (2 minute):**
You have a list of fruits and their prices as tuples:

**fruits = [('apple', 1.5), ('banana', 2.5), ('cherry', 3.0)]**

Create a dictionary named fruit_prices using the list of tuples where the fruit names are the keys and the prices are the values. Use dictionary slicing to print only the prices of apples and cherries to the console.

In [ ]:
fruits = [('apple', 1.5), ('banana', 2.5), ('cherry', 3.0)]
fruit_prices = dict(fruits)
apple_cherry_prices = fruit_prices['apple'], fruit_prices['cherry']
print(apple_cherry_prices)

---
---

## Coding Challenge to recall all the topics covered in the lab session.

### Python for Data Science Challenge
**Objective:**

The objective is to complete a series of coding challenges that cover the topics of Python programming, variables, data types, operators, and basic data types. Each challenge will test the learner's knowledge of these topics and their ability to apply that knowledge to solve real-world problems.

#### Level 1: Variable Challenge

**Problem:** Create a variable named age and assign it the value 25. Print the value of the age variable to the console.
Expected Output: 25

In [ ]:
# Solution:
age = 25
print(age)

25

#### Level 1: String Challenge

**Problem:** Create a variable named name and assign it the value "John". Print the value of the name variable to the console.
Expected Output: John

In [ ]:
# Solution:
name = "John"
print(name)

#### Level 1: Integer and Float Challenge

**Problem:** Create a variable named num1 and assign it the value 10. Create another variable named num2 and assign it the value 2.5. Print the value of both variables to the console.
Expected Output:

10

2.5

In [ ]:
# Solution:
num1 = 10
num2 = 2.5
print(num1)
print(num2)

#### Level 1: Arithmetic Operators Challenge

**Problem:** Create two variables named num1 and num2, and assign them values 5 and 2, respectively. Add them together and print the result to the console. Then, subtract num2 from num1 and print the result to the console.
Expected Output:

7

3

In [ ]:
# Solution:
num1 = 5
num2 = 2
print(num1 + num2)
print(num1 - num2)

#### Level 2: Conditional Operators Challenge

**Problem:** Create two variables named num1 and num2, and assign them values 5 and 2, respectively. Write a conditional statement that checks whether num1 is greater than num2. If it is, print "num1 is greater than num2" to the console. If not, print "num1 is not greater than num2" to the console.
Expected Output:
num1 is greater than num2

In [ ]:
# Solution:
num1 = 5
num2 = 2
if num1 > num2:
print("num1 is greater than num2")
else:
print("num1 is not greater than num2")

#### Level 2: String Formatting Challenge

**Problem:** Create a variable named name and assign it the value "John". Create another variable named age and assign it the value 25. Use string formatting to print the following sentence to the console: "My name is John and I am 25 years old."
Expected Output:
My name is John and I am 25 years old.

In [ ]:
# Solution:
name = "John"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

#### Level 2: List Challenge

**Problem:** Create a list named numbers containing the numbers 1, 2, 3, 4, and 5. Use indexing to print the second number in the list to the console.
Expected Output:

In [ ]:
# Solution:
numbers = [1, 2, 3, 4, 5]
print(numbers[1])

#### Level 2: List Operations Challenge

**Problem:** Create a list named numbers containing the numbers 1, 2, and 3. Append the number 4 to the list and print the list to the console.
Expected Output:
[1, 2, 3, 4]

In [ ]:
# Solution:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

#### Level 3: Variables and Operators Challenge

**Problem:** Create two variables named "num1" and "num2" and assign them the values 7 and 3, respectively. Create a third variable named "result" and assign it the value of the sum of num1 and num2. Finally, print the value of the result variable to the console.
Expected Output:
10

In [ ]:
# Solution:
num1 = 7
num2 = 3
result = num1 + num2
print(result)

#### Level 3: String Challenge

**Problem:** Create a string variable named greeting and assign it the value "Hello, world!". Use string slicing to print the substring "world" to the console.
Expected Output:

world

In [ ]:
# Solution:
greeting = "Hello, world!"
substring = greeting[7:12]
print(substring)

#### Level 3: List Challenge

**Problem:** Create a list named numbers containing the values 1, 3, 5, 7, and 9. Use list slicing to print the sublist [3, 5, 7] to the console.
Expected Output:
[3, 5, 7]

In [ ]:
#Solution:
numbers = [1, 3, 5, 7, 9]
sublist = numbers[1:4]
print(sublist)

[3, 5, 7]

#### Level 3: Arithmetic Operators Challenge

**Problem:** Create three variables named num1, num2, and num3 and assign them the values 10, 5, and 2, respectively. Use arithmetic operators to calculate the result of num1 divided by the product of num2 and num3, and assign it to a variable named result. Print the value of result to the console.
Expected Output:
1.0

In [ ]:
# Solution:
num1 = 10
num2 = 5
num3 = 2
result = num1 / (num2 * num3)
print(result)

1.0

#### Problem: Given a list of integers, write a Python program to perform the following operations:
* Access the first and last elements of the list
* Modify the second element of the list
* Create a new list that contains the first five elements of the original list
* Reverse the original list

In [ ]:
# Define a list of integers
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Access the first and last elements of the list
first_elem = lst[0]
last_elem = lst[-1]

# Modify the second element of the list
lst[1] = 20

# Create a new list that contains the first five elements of the original list
new_lst = lst[:5]

# Reverse the original list
lst.reverse()

# Print the results
print("First element:", first_elem)
print("Last element:", last_elem)
print("Modified list:", lst)
print("New list:", new_lst)

First element: 1
Last element: 10
Modified list: [10, 9, 8, 7, 6, 5, 4, 3, 20, 1]
New list: [1, 20, 3, 4, 5]

### Happy learning